.toolbar-icon {
    font-size: 19px;
}

.btn-icon {
  border: none;
}

.book-title {
    margin: 8px 0 4px !important;
}

// Override since it's not coming from library
::ng-deep #presentationMode {
    margin: 3px 0 4px !important;
}

::ng-deep .dark > ngx-extended-pdf-viewer .treeItem>a {
    color: lightblue !important;
}

.loading-message-container {
  text-align: center;
  min-width: 200px;
}

.progress-container {
    width: 100%;
}
.progress-bar {
    // NOTE: We have to override due to theme variables not being available
    background-color: #3B9E76;
}

$pagination-color: transparent;
$pagination-opacity: 0;

//$pagination-color: red;
//$pagination-opacity: 0.7;
$action-bar-height: 36px;
$loading-bar-height: 24px;

// Tap to Paginate


.right {
  position: absolute;
  right: 0px;
  top: $action-bar-height;
  width: 20vw;
  z-index: 3;
  background: $pagination-color;
  border-color: transparent;
  border: none !important;
  opacity: $pagination-opacity;
  outline: none;
  height: 100%;

  &.no-pointer-events {
    pointer-events: none;
  }
}



// This class pushes the click area to the left a bit to let users click the scrollbar
.right-with-scrollbar {
  position: absolute;
  right: 17px;
  top: $action-bar-height;
  width: 18vw;
  z-index: 3;
  background: $pagination-color;
  opacity: $pagination-opacity;
  border-color: transparent;
  border: none !important;
  outline: none;
  height: 100%;
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0px;
  top: $action-bar-height;
  width: 20vw;
  background: $pagination-color;
  opacity: $pagination-opacity;
  border-color: transparent;
  border: none !important;
  z-index: 3;
  outline: none;
  height: 100%;
  cursor: pointer;
}

// Immersive mode styles
.immersive-controls {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 2147483647;
  display: flex;
  gap: 8px;
}

.immersive-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.2s ease, background 0.2s ease;

  &:hover, &:active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
}

// When in immersive mode, hide toolbars and allow proportional zoom
::ng-deep .immersive-active {
  // Hide all toolbars and sidebar
  .toolbar,
  #toolbarViewer,
  #secondaryToolbar,
  #sidebarContainer {
    display: none !important;
  }

  // Full height, allow horizontal scroll when zoomed
  #viewerContainer {
    top: 0 !important;
    overflow-x: auto !important;
  }

  // Remove page margins/borders for cleaner look
  .pdfViewer .page {
    margin: 0 !important;
    border: 0 !important;
  }
}


