.pill {
  font-size: .8rem;
  background-color: var(--card-bg-color);
  border-radius: 0.375rem;
}

.scroller {
  max-height: calc(100dvh - 180px);
  overflow-y: auto;
  scrollbar-gutter: stable;

  @media (max-width: 576px) {
    max-height: calc(100dvh - 480px);
  }
}

.list-group-item {
  background-color: transparent;

  &:hover {
    background-color: var(--card-bg-color);
  }

  &.active {
    background-color: var(--primary-color);
  }
}

.list-group-item, .list-group-item.active {
  border-top-width: 0;
  border-bottom-width: 0;
}

ngx-file-drop ::ng-deep > div {
  // styling for the outer drop box
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  height: 100px;
  margin: auto;

  > div {
    // styling for the inner box (template)
    width: 100%;
    display: inline-block;

  }
}
